/* Header & Navbar */
header {
    background: linear-gradient(90deg, #667f99, #5d818a);
    /* background-color: #1E1E2F; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.logo img {
    width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #1c2a38;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #273b52, #00C6FF);
    color: #fff;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero h1 span {
    color: #FFD700;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}
